<!DOCTYPE html>
<html>
<head>
    <title>添加线上课堂</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- libraries -->
    <link href="__PUBLIC__/Shopadmin/css/lib/uniform.default.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/lib/select2.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/icons.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="__PUBLIC__/Shopadmin/css/compiled/form-showcase.css" type="text/css" media="screen"/>

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--<script type="text/html" id="photos-item-wrapper">-->
        <!--<li id="savedimage{id}">-->
            <!--<input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">-->
            <!--<input id="photo-{id}-name" type="text" name="photos_alt[]" value="{name}" style="width: 160px;" title="图片名称">-->
            <!--<img id="photo-{id}-preview" src="{url}" style="height:250px;width: 250px;" onclick="parent.image_preview_dialog(this.src);">-->
            <!--<a href="javascript:upload_one_image('图片上传','#photo-{id}');">替换</a>-->
            <!--<a href="javascript:(function(){$('#savedimage{id}').remove();})();">移除</a>-->
        <!--</li>-->
    <!--</script>-->
    <link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />

    <script type="text/javascript">
        //全局变量
        var GV = {
            ROOT: "__ROOT__/",
            WEB_ROOT: "__WEB_ROOT__/",
            JS_ROOT: "public/js/",
            APP:'{$Think.MODULE_NAME}'/*当前应用名*/
        };
    </script>
    <script src="__PUBLIC__/js/wind.js"></script>
</head>
<body>

<include file="common/menu" />


<!-- main container -->
<div class="content">

    <div id="pad-wrapper" class="form-page">
        <div class="row header">
            <div class="col-md-12">
                <h3>添加线上课堂</h3>
            </div>
        </div>
        <form method="post" class="form-horizontal" action="" onSubmit="return confirm();">
            <div class="row form-wrapper">
                <div class="col-md-8 column">
                    <fieldset>
                        <div class="field-box">
                            <label class="inputlh">选择分类</label>
                            <div class="col-md-8">
                                <select name="sub1" id="sub1">
                                    <option value="0">请选择一级学科</option>
                                    <foreach name="sub1" item="s">
                                        <option value="{$s.s_name}" data-id="{$s.id}">{$s.s_name}</option>
                                    </foreach>
                                </select>
                                <select name="sub2" id="sub2">
                                    <option value="0">请选择二级学科</option>
                                </select>
                                <select name="sub3" id="sub3">
                                    <option value="0">请选择三级学科</option>
                                </select>
                            </div>
                        </div>
                        <div class="field-box">
                            <label class="inputlh">标题</label>
                            <div class="col-md-8">
                                <input type="text" name="title" class="form-control" >
                            </div>
                        </div>
                        <div class="field-box">
                            <label class="inputlh">是否收费</label>
                            <div class="col-md-8">
                                <label style="padding: unset;"><input type="radio" name="price_type" checked  value="1" />收费</label>
                                <label style="padding: unset;"><input type="radio" name="price_type" value="0" />免费</label>
                            </div>
                        </div>
                        <div class="field-box" id="price">
                            <label class="inputlh">普通价格</label>
                            <div class="col-md-8">
                                <input type="text" name="price" value="0.00" class="form-control" />
                            </div>
                        </div>
                        <div class="field-box" id="pass">
                            <label class="inputlh">访问密码</label>
                            <div class="col-md-8">
                                <input type="text" name="access_password" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="field-box">
                            <label class="inputlh">适合年龄段</label>
                            <div class="col-md-8">
                                <select name="age_id">
                                    <volist name="ages" id="a">
                                        <option value="{$a['id']}">{$a['title']}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <!--视频-->
                        <div class="field-box">
                            <label class="inputlh">视频</label>
                            <div class="col-md-8">
                                <div class="container">
                                    <div class="demo">
                                        <a class="btn" id="btn">上传视频</a> 支持MP4格式。
                                        <ul id="ul_pics" class="ul_pics clearfix" style="margin-top:10px;"></ul>
                                    </div>
                                </div>
                                <script src="__PUBLIC__/js/jquery.js"></script>
                                <script type="text/javascript" src="__PUBLIC__/fileupload/js/plupload.full.min.js"></script>
                                <script type="text/javascript">
                                    var uploader = new plupload.Uploader({ //创建实例的构造方法
                                        runtimes: 'html5,flash,silverlight,html4', //上传插件初始化选用那种方式的优先级顺序
                                        browse_button: 'btn', // 上传按钮
                                        url: "{:U('Video/upload')}", //远程上传地址
                                        flash_swf_url: '__PUBLIC__/fileupload/plupload/Moxie.swf', //flash文件地址
                                        silverlight_xap_url: '__PUBLIC__/fileupload/plupload/Moxie.xap', //silverlight文件地址
                                        filters: {
                                            max_file_size: '500MB', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
                                            mime_types: [ //允许文件上传类型
                                                {
                                                    title: "files",
                                                    extensions: "mp4"
                                                }
                                            ]
                                        },
                                        multi_selection: true, //true:ctrl多文件上传, false 单文件上传
                                        init: {
                                            FilesAdded: function(up, files) { //文件上传前
                                                if ($("#ul_pics").children("li").length > 30) {
                                                    alert("您上传的图片太多了！");
                                                    uploader.destroy();
                                                } else {
                                                    var li = '';
                                                    plupload.each(files, function(file) { //遍历文件
                                                        li += "<li id='" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
                                                    });
                                                    $("#ul_pics").html(li);
                                                    uploader.start();
                                                }
                                            },
                                            UploadProgress: function(up, file) { //上传中，显示进度条
                                                var percent = file.percent;
                                                $("#" + file.id).find('.bar').css({
                                                    "width": percent + "%"
                                                });
                                                $("#" + file.id).find(".percent").text(percent + "%");
                                            },
                                            FileUploaded: function(up, file, info) { //文件上传成功的时候触发
                                                var data = eval("(" + info.response + ")");
                                                $("#" + file.id).html("<p>" + file.name + "</p><input type='hidden' name='video_url' value='"+data.pic+"'/>");
                                            },
                                            Error: function(up, err) { //上传出错的时候触发
                                                alert(err.message);
                                            }
                                        }
                                    });
                                    uploader.init();
                                </script>
                            </div>
                        </div>
                        <div class="field-box">
                            <label class="inputlh">视频介绍</label>
                            <div class="col-md-8"><script type="text/plain" id="content" name="content"></script></div>
                        </div>
                    </fieldset>
                    <div class="field-box">
                        <label class="inputlh"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary mar_r5">添加</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column pull-right">
                    <div class="field-box">
                        <label class="inputlh" style="padding-left: 0;">缩略图（上传尺寸为16:9）</label>
                        <div class="col-md-8">
                            <div>
                                <input type="hidden" name="video_cover" id="thumb" value="">
                                <a href="javascript:upload_one_image('图片上传','#thumb');" class="inb"><img src="__PUBLIC__/Shopadmin/img/table-img.png" id="thumb-preview" style="width: 135px;height: 135px;">
                                </a>
                            </div>
                            <div class="mar_t10">
                                <input type="button" class="btn btn-default" onclick="$('#thumb-preview').attr('src','/admin/themes/simplebootx/Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end main container -->

<!-- scripts for this page -->
<script src="__PUBLIC__/Shopadmin/js/wysihtml5-0.3.0.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="__PUBLIC__/Shopadmin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/jquery.uniform.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/theme.js"></script>
<!--laryer-->
<script src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
</script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    $(function() {
        //编辑器
        editorcontent = new baidu.editor.ui.Editor();
        editorcontent.render('content');
        try {
            editorcontent.sync();
        } catch (err) {
        }
        $("#sub1,#sub2").change(function(){
            var id = $(this).find("option:selected").attr("data-id");
            var name = $(this).attr('name');
            var $id = 2;
            var str = '<option value="0">请选择二级学科</option>';
            if (name === 'sub2') {
                str = '<option value="0">请选择三级学科</option>';
                $id = 3;
            }
            $.post("{:U('Online/subject')}",{
                id:id
            },function(data){
                var data = JSON.parse(data);
                for(var i=0;i<data.length;i++){
                    str += '<option value="'+data[i].s_name+'" data-id="'+data[i].id+'">'+data[i].s_name+'</option>';
                }
                $("#sub"+$id).html(str);
                if (name === 'sub1') {
                    $("#sub3").html('<option value="0">请选择三级学科</option>');
                }
            })

        });
        $('input:radio[name="price_type"]').change(function () {
            if ($(this).val()==0) {
                $('#price').hide(300);
                $('#pass').hide(300);
            } else {
                $('#price').show(300);
                $('#pass').show(300);
            }
        });

    });
    function confirm() {
        var data = $("form").serializeArray();
        $.post("{:U('Online/add')}",data,function (obj) {
            if (obj.status === 1) {
                layer.confirm(obj.info, {
                    btn: ['继续添加','返回列表']
                }, function() {
                    window.location.reload();
                }, function() {
                    location = "{:U('Online/index')}";
                });
            } else {
                layer.msg(obj.info);
                state = true;
            }
        },'json');
        return false;
    }
</script>
</body>
</html>