<!doctype html>
<html>
<head>
	<title>大唐伯乐商户端</title>
	<meta charset="utf-8">
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

	<link href="__PUBLIC__/simpleboot/themes/{:C('SP_ADMIN_STYLE')}/theme.min.css" rel="stylesheet">
    <link href="__PUBLIC__/simpleboot/css/simplebootadmin.css" rel="stylesheet">
    <link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />
    <link href="__PUBLIC__/simpleboot/font-awesome/4.4.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/layout.css">
    <link href="__PUBLIC__/Shopadmin/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>
    <style>
		form .input-order{margin-bottom: 0px;padding:3px;width:40px;}
		.table-actions{margin-top: 5px; margin-bottom: 5px;padding:0px;}
		.table-list{margin-bottom: 0px;}
		.home_btn {
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 15px 0px;
}
		.home_btn h5{ color:#FFF; font-size:16px;}
        .home_btn a{ margin: 0 5px; }
	</style>
	<!--[if IE 7]>
	<link rel="stylesheet" href="__PUBLIC__/simpleboot/font-awesome/4.4.0/css/font-awesome-ie7.min.css">
	<![endif]-->
	<script type="text/javascript">
	//全局变量
	var GV = {
	    ROOT: "__ROOT__/",
	    WEB_ROOT: "__WEB_ROOT__/",
	    JS_ROOT: "public/js/",
	    APP:'{$Think.MODULE_NAME}'/*当前应用名*/
	};
	</script>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/wind.js"></script>
    <script src="__PUBLIC__/simpleboot/bootstrap/js/bootstrap.min.js"></script>

    <script>
    	$(function(){
    		$("[data-toggle='tooltip']").tooltip();
    	});
    </script>
<if condition="APP_DEBUG">
	<style>
		#think_page_trace_open{
			z-index:9999;
		}
	</style>
</if>

<style type="text/css">
    .jinri_t {
        width: 15%;
        text-align: center;
        line-height: 32px;
        font-weight: bold;
    }

    .jinri_n {
        width: 10%;
    }

    .input_date {
        margin-bottom: 0px;
        width: 160px;
        height: 18px;
        line-height: 18px;
		box-sizing: content-box;
    }


</style>
</head>
<body>
<include file="common/menu" />
<div class="content">

<div class="clearfix" style="padding:20px;">
  <div class="home_btn">
     <div>
     <!--<a href="picture-add.html" title="添加商品" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-addp.png"></i>
     <h5 class="margin-top">添加商品</h5>
     </a> -->
     <a href="{:U('Index/person')}" title="个人资料" class="btn  btn-success btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-grxx.png"></i>
     <h5 class="margin-top">个人资料</h5>
     </a>
     <a href="{:U('Image/index')}" title="我的图集" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-ad.png"></i>
     <h5 class="margin-top">我的图集</h5>
     </a>
     <a href="{:U('Video/index')}" title="我的视频" class="btn  btn-primary btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-wdsp.png"></i>
     <h5 class="margin-top">我的视频</h5>
     </a>
     <a href="{:U('Index/updatePwd')}" title="安全中心" class="btn  btn-danger btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/xtsz.png"></i>
     <h5 class="margin-top">安全中心</h5>
     </a>
     <!--<a href="{:U('Vip/index')}" title="会员特权" class="btn  btn-warning btn-sm no-radius">-->
     <!--<i class="bigger-200"><img src="/public/images/icon-hytq.png"></i>-->
     <!--<h5 class="margin-top">会员特权</h5>-->
     <!--</a>-->
     <a href="{:U('Activity/index')}" title="活动管理" class="btn  btn-primary btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-cpgl.png"></i>
     <h5 class="margin-top">活动管理</h5>
     </a>
     <a href="{:U('Online/index')}" title="线上课堂" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-xskt.png"></i>
     <h5 class="margin-top">线上课堂</h5>
     </a>
     <a href="{:U('Visitor/index')}" title="查看访客" class="btn  btn-purple btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-ckfk.png"></i>
     <h5 class="margin-top">查看访客</h5>
     </a>
     <a href="{:U('Wallet/index',['type'=>1])}" title="我的营业额" class="btn  btn-success btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-wdyye.png"></i>
     <h5 class="margin-top">我的营业额</h5>
     </a>
     <a href="{:U('Course/index')}" title="我的课程" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-wdkc.png"></i>
     <h5 class="margin-top">我的课程</h5>
     </a>
     <a href="{:U('Order/index')}" title="我的订单" class="btn  btn-purple btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-gwcc.png"></i>
     <h5 class="margin-top">我的订单</h5>
     </a>
     <a href="{:U('Circle/index')}" title="圈子管理" class="btn  btn-primary btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-qzgl.png"></i>
     <h5 class="margin-top">圈子管理</h5>
     </a>
     <a href="{:U('Coupon/index')}" title="优惠券管理" class="btn  btn-pink btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-yhj.png"></i>
     <h5 class="margin-top">优惠券管理</h5>
     </a>
     <a href="{:U('Teacher/index')}" title="师资管理" class="btn  btn-success btn-sm no-radius">
     <i class="bigger-200"><img src="/public/images/icon-szgl.png"></i>
     <h5 class="margin-top">师资管理</h5>
     </a>
     </div>
  </div>

 </div>


<div class="wrap">



    <ul class="nav nav-tabs" style="margin-bottom:20px;">
        <li class="active"><a>订单状态统计</a></li>
    </ul>
    <div style="width: 100%; text-align: left;">
        <input type="date" id="startDate" class="input_date" value="{:date('Y-m-d', time())}">
        -
        <input type="date" id="endDate" class="input_date" value="{:date('Y-m-d', time())}">
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderStatus();" value="自定义查询" style="margin-bottom: 10px;"/>
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderStatus('{:date('Y-m-d',time())}','{:date('Y-m-d',time())}');" value="当天" style="margin-bottom: 10px;"/>
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderStatus('{:date('Y-m-d',strtotime('-15 day'))}','{:date('Y-m-d',time())}');" value="最近7天" style="margin-bottom: 10px;"/>
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderStatus('{:date('Y-m-d',strtotime('-30 day'))}','{:date('Y-m-d',time())}');" value="最近15天" style="margin-bottom: 10px;"/>
    </div>
    <div style="height:350px; width: 100%; float: left;">
        <div id="container1" style="float: left;height: 300px;width: 33%;"></div><!--亲子活动订单统计-->
        <div id="container2" style="float: left;height: 300px;width: 33%;"></div><!--在线课程订单统计-->
        <div id="container3" style="float: left;height: 300px;width: 33%;"></div><!--托管订单统计-->
    </div>

    <ul class="nav nav-tabs"  style="margin-bottom:20px;">
        <li class="active"><a>订单金额统计</a></li>
    </ul>
    <div style="width: 100%; text-align: left;">
        <input type="date" id="startDate2" class="input_date" value="{:date('Y-m-d',strtotime('-7 day'))}">
         -
        <input type="date" id="endDate2" class="input_date" value="{:date('Y-m-d', time())}">
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderAmount();" value="自定义查询" style="margin-bottom: 10px;"/>
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderAmount('{:date('Y-m-d',strtotime('-7 day'))}','{:date('Y-m-d',time())}');" value="最近7天" style="margin-bottom: 10px;"/>
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderAmount('{:date('Y-m-d',strtotime('-15 day'))}','{:date('Y-m-d',time())}');" value="最近15天" style="margin-bottom: 10px;"/>
        <input type="submit" class="btn btn-primary" onClick="return statisticOrderAmount('{:date('Y-m-d',strtotime('-30 day'))}','{:date('Y-m-d',time())}');" value="最近30天" style="margin-bottom: 10px;"/>
    </div>
    <div style="height:550px;width: 100%;">
        <div id="container4" style="float: left; height: 400px;width: 100%;"></div><!--各个订单金额柱状图统计-->
    </div>
</div>
</div>

<script src="__PUBLIC__/Shopadmin/js/theme.js"></script>
<script src="__PUBLIC__/Shopadmin/layer/layer.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="/admin/themes/simplebootx/Public/assets/js/index.js"></script>
<script type="text/javascript" src="/admin/themes/simplebootx/Public/assets/js/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript">
    $(function () {
        //初始加载当天数据
        statisticOrderStatus();
        statisticOrderAmount();
    });
    //订单状态按时间段统计
    var statisticOrderStatus = function (startDate, endDate) {
        if(startDate != null && endDate != null){
            $("#startDate").val(startDate);
            $("#endDate").val(endDate);
        }
        huodongOrderStatusChart();
        kechengOrderStatusChart();
        tuoguanOrderStatusChart();
    }
    //订单金额按时间段统计
    var statisticOrderAmount = function (startDate, endDate) {
        if(startDate != null && endDate != null){
            $("#startDate2").val(startDate);
            $("#endDate2").val(endDate);
        }
        orderAmountChart();
    }

    //饼图默认空数据格式
    var noPieDataObj = {
        value: 0,
        name: "没有数据"
    };

    //亲子活动订单状态统计
    var huodongOrderStatusChart = function () {
        $.post("{:U('Index/getHuoDongPieData')}", {startDate: $("#startDate").val(), endDate: $("#endDate").val()},
            function (resultData) {
                if (resultData != null && resultData == "-1") {
                    alert("时间范围不要超过两个月");
                    return;
                }
                var data = JSON.parse(resultData);
                var legendData = [];
                var seriesData = [];
                if (data.length > 0) {
                    $.each(data, function (index) {
                        legendData.push(data[index].name);
                    });
                    seriesData = data;
                }
                else {
                    legendData = noPieDataObj.name;
                    seriesData[0] = noPieDataObj;
                }
                loadPieChart("container1", "亲子活动订单状态统计", legendData, seriesData);
            }
        );
    };

    //在线课程订单状态统计
    var kechengOrderStatusChart = function () {
        $.post("{:U('Index/getKeChengPieData')}", {startDate: $("#startDate").val(), endDate: $("#endDate").val()},
            function (resultData) {
                var data = JSON.parse(resultData);
                var legendData = [];
                var seriesData = [];
                if (data.length > 0) {
                    $.each(data, function (index) {
                        legendData.push(data[index].name);
                    });
                    seriesData = data;
                }
                else {
                    legendData = noPieDataObj.name;
                    seriesData[0] = noPieDataObj;
                }
                loadPieChart("container2", "在线课程订单状态统计", legendData, seriesData);
            }
        );
    };

    //托管订单状态统计
    var tuoguanOrderStatusChart = function () {
        $.post("{:U('Index/getTuoGuanPieData')}", {startDate: $("#startDate").val(), endDate: $("#endDate").val()},
            function (resultData) {
                var data = JSON.parse(resultData);
                var legendData = [];
                var seriesData = [];
                if (data.length > 0) {
                    $.each(data, function (index) {
                        legendData.push(data[index].name);
                    });
                    seriesData = data;
                }
                else {
                    legendData = noPieDataObj.name;
                    seriesData[0] = noPieDataObj;
                }
                loadPieChart("container3", "托管订单状态统计", legendData, seriesData);
            }
        );
    };

    //各个订单金额柱状图统计
    var orderAmountChart = function () {
        $.post("{:U('Index/getOrderAmountData')}", {startDate: $("#startDate2").val(), endDate: $("#endDate2").val()},
            function (resultData) {
                if (resultData != null && resultData == "-1") {
                    alert("时间范围不要超过两个月");
                    return;
                }
                var data = JSON.parse(resultData);
                var maxAmount = 0;
                var legendData = ['活动订单金额', '课程订单金额', '托管订单金额'];
                var xAxisData = [];
                var seriesData = [];

                var series_huodong_items = [];
                var series_kecheng_items = [];
                var series_tuoguan_items = [];
                //寻找三种订单的金额最大值
                var series_items = [];
                $.each(data.huodong, function (index) {
                    xAxisData.push(formatDate(data.huodong[index].date));
                    series_huodong_items.push(data.huodong[index].amount);
                    series_items.push(data.huodong[index].amount);
                });
                seriesData.push({
                    name: legendData[0],
                    type: 'bar',
                    data: series_huodong_items
                });

                $.each(data.kecheng, function (index) {
                    series_kecheng_items.push(data.kecheng[index].amount);
                    series_items.push(data.kecheng[index].amount);
                });
                seriesData.push({
                    name: legendData[1],
                    type: 'bar',
                    data: series_kecheng_items
                });

                $.each(data.tuoguan, function (index) {
                    series_tuoguan_items.push(data.tuoguan[index].amount);
                    series_items.push(data.tuoguan[index].amount);
                });
                seriesData.push({
                    name: legendData[2],
                    type: 'bar',
                    data: series_tuoguan_items
                });

                var maxAmount = Math.max.apply(null, series_items).toFixed(2);
                loadLineChart("container4", legendData, xAxisData, seriesData, maxAmount);
            }
        );
    };

    //画饼状图
    var loadPieChart = function (containerName, title, legendData, seriesData) {
        var dom = document.getElementById(containerName);
        var myChart = echarts.init(dom);
        var option = {
            title: {
                text: title,
                subtext: '',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: []
            },
            series: [
                {
                    name: '订单数量',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        option.legend.data = legendData;
        option.series[0].data = seriesData;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    //画柱状图
    var loadLineChart = function (containerName, legendData, xAxisData, seriesData, yAxisMaxData) {
        var dom = document.getElementById(containerName);
        var myChart = echarts.init(dom);
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: false, readOnly: false},
                    magicType: {show: false, type: ['line', 'bar']},
                    restore: {show: false},
                    saveAsImage: {show: false}
                }
            },
            legend: {
                data: []
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    min: 0,
                    max: 1,
                    interval: 10,
                    axisLabel: {
                        formatter: '{value} 万元'
                        // formatter: function (value, index) {
                        //     return value.toFixed(2) + ' 万元';
                        // }
                    }
                },
                {
                    type: 'value',
                    name: '金额',
                    min: 0,
                    max: 1,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value} 万元'
                        // formatter: function (value, index) {
                        //     return value.toFixed(2) + ' 万元';
                        // }
                    }
                }
            ],
            series: []
        };
        //console.log(option.yAxis)
        option.yAxis[0].max = option.yAxis[1].max = (yAxisMaxData * 1.2).toFixed(1);
        option.legend.data = legendData;
        option.xAxis[0].data = xAxisData;
        option.series = seriesData;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        //if (month.length < 2) month = '0' + month;
        //if (day.length < 2) day = '0' + day;

        return [month, day].join('-');
    }
</script>
</body>
</html>