<!DOCTYPE html>
<html>
<head>
  <title>添加游记</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

  <!-- libraries -->
  <link href="__PUBLIC__/Shopadmin/css/lib/uniform.default.css" type="text/css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/lib/select2.css" type="text/css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>

  <!-- global styles -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/layout.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/elements.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/icons.css">

  <!-- this page specific styles -->
  <link rel="stylesheet" href="__PUBLIC__/Shopadmin/css/compiled/form-showcase.css" type="text/css" media="screen"/>

  <!-- open sans font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/html" id="photos-item-wrapper">
    <li id="savedimage{id}" style=" margin:5px 0;">
      <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
      <input id="photo-{id}-name" type="text" name="photos_alt[]" value="{name}" style="width: 260px; height:30px; line-height:30px;" title="图片名称">
      <img id="photo-{id}-preview" src="{url}" style="height:100px;width: 100px;border-radius: 4px;margin-left:10px;  border:1px solid #DDDDDD" onclick="parent.image_preview_dialog(this.src);">
      <a href="javascript:upload_one_image('图片上传','#photo-{id}');" style="background:#1BA491; padding:8px 16px; font-size:14px; color:#FFF; border-radius: 4px;margin-left:10px;white-space: nowrap;">替换</a>
      <a href="javascript:(function(){$('#savedimage{id}').remove();})();" style="background:#FF6C60; padding:8px 16px; font-size:14px; color:#FFF; border-radius: 4px;margin-left:5px;white-space: nowrap;">移除</a>
    </li>
  </script>

  <link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />

  <script type="text/javascript">
      //全局变量
      var GV = {
          ROOT: "__ROOT__/",
          WEB_ROOT: "__WEB_ROOT__/",
          JS_ROOT: "public/js/",
          APP:'{$Think.MODULE_NAME}'/*当前应用名*/
      };
  </script>
  <script src="__PUBLIC__/js/wind.js"></script>
    <style type="text/css">
        .input-medium{
            width: 85.8888%;
            display: inline-table;
        }
        .input-small{
            width: 22%;
            display: inline-table;
        }
        .label_att span{
            text-align: right;
            padding-top: 10px;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<body>

<include file="common/menu" />


<!-- main container -->
<div class="content">

  <div id="pad-wrapper" class="form-page" style="margin-left: 50px;">
    <div class="row header">
      <div class="col-md-12">
        <h3>添加游记</h3>
      </div>
    </div>
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('Travels/add')}" enctype="multipart/form-data">
    <div class="row form-wrapper">
      <div class="col-md-12 column">
          <fieldset>
              <div class="field-box">
                  <div class="col-md-9 label_att">
                      <span style="color: red;">*</span><span>游记封面图片（建议图片宽高为1050*650，大小不要超过300K）：</span>
                      <div style="margin-bottom: 10px;">
                          <input type="hidden" name="thumb_img" id="thumb_img" value="">
                          <a href="javascript:upload_one_image('图片上传','#thumb_img',null,'Managed');" class="inb">
                              <img src="__PUBLIC__/Shopadmin/img/new-gallery-img.png" id="thumb-preview" style="width: 315px;height: 195px;">
                          </a>
                      </div>
                      <div class="mar_t10">
                          <input type="button" class="btn btn-default" onclick="$('#thumb-preview').attr('src','__PUBLIC__/Shopadmin/img/new-gallery-img.png');$('#thumb').val('');return false;" value="取消图片">
                      </div>
                  </div>
              </div>
            <div class="field-box">
              <div class="col-md-9 label_att">
                  <span style="color: red;">*</span><span>游记标题：</span>
                  <input type="text" name="title" class="form-control input-medium" required>
              </div>
            </div>
            <div class="field-box">
              <div class="col-md-9 label_att">
                  <span style="color: red;">*</span><span>游记作者：</span>
                  <input type="text" maxlength="30" id="author" name="author" class="form-control input-small" required>
                  <span style="color: red;">*</span><span>发布日期：</span>
                  <input type="date" id="add_date" name="add_date" class="form-control input-small" value="{:date('Y-m-d', time())}" required>
                  <span style="color: red;">*</span><span>活动玩伴：</span>
                  <select name="person" id="person" class="form-control input-small" required>
                      <option value="家人">家人</option>
                      <option value="朋友">朋友</option>
                      <option value="同事">同事</option>
                      <option value="旅行社">旅行社</option>
                      <option value="其它">其它</option>
                  </select>
              </div>
            </div>
            <div class="field-box">
              <div class="col-md-9 label_att">
                  <span style="color: red;">*</span><span>游玩天数：</span>
                <input type="number" min="1" max="30" name="travel_days" class="form-control input-small" required>
                  <span style="color: red;">*</span><span>游玩月份：</span>
                  <select name="travel_month" id="travel_month" class="form-control input-small" required>
                      <option value="0">请选择游玩月份</option>
                      <?php for($month=1; $month<=12; $month++): ?>
                      <option value="{$month}月">{$month}月</option>
                      <?php endfor; ?>
                  </select>
                  <span style="color: red;">*</span><span>人均消费： </span>
                  <input type="number" min="1" max="999999999" name="price" class="form-control input-small" required> <span>元</span>
              </div>
            </div>
            <div class="field-box">
              <div class="col-md-9 label_att">
                  <span>浏览数：</span>
                  <input type="number" min="0" max="10000" name="viewnum" class="form-control input-small" required>
                  <span>评论数：</span>
                  <input type="number" min="0" max="0" name="commentnum" class="form-control input-small" value="0" readonly="readonly" required>
                  <span>点赞数：</span>
                  <input type="number" min="0" max="10000" name="zannum" class="form-control input-small" required>
              </div>
            </div>
            <div class="field-box">
            <div class="col-md-9 label_att">
                <span style="color: red;">*</span><span>游记详情： </span>
                <textarea id="content" name="content" style="width: 100%; min-height: 600px;"></textarea>
                <!--<script type="text/plain" id="content" name="content" style="width: 100%; min-height: 600px;"></script>-->
              <p style="color: red;"></p>
            </div>
          </div>
              <div class="field-box">
                  <div class="col-md-9 label_att">
                      <span style="color: red;">*</span><span>是否启用：</span>
                      <input type="radio" value="1" name="status" checked><span>立即发布</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio" value="2" name="status"><span>暂不发布</span>
                  </div>
              </div>

            <!--<div class="field-box">
              <label class="inputlh">上传图集</label>
              <div class="col-md-9"  style="border:1px solid #DDDDDD; padding-bottom:10px; border-radius:5px; width: calc(66.666666% - 30px); margin-left: 15px;">
                <ul id="photos" class="pic-list unstyled"></ul>
                <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" class="btn btn-small">选择图片</a>
                <span style="color: red;">注：图片尺寸最好为 600*375</span>
              </div>
            </div>-->

          </fieldset>
          <div class="field-box">
            <div class="col-md-9 label_att">
              <button type="submit" class="btn btn-primary mar_r5 js-ajax-submit">保存</button>
              <a class="btn btn-default" href="{:U('Travels/index')}">返回</a>
            </div>
          </div>

      </div>
    </div>
    </form>
  </div>
</div>
<!-- end main container -->

<!-- scripts for this page -->
<script src="__PUBLIC__/Shopadmin/js/wysihtml5-0.3.0.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="__PUBLIC__/Shopadmin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/jquery.uniform.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/theme.js"></script>
<!--laydate-->
<script src="__PUBLIC__/Shopadmin/laydate/laydate.js"></script>
<!--laryer-->
<script src="__PUBLIC__/Shopadmin/layer/layer.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
</script>


<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    $(function() {
        //编辑器
        editorcontent = new baidu.editor.ui.Editor();
        editorcontent.render('content');
        try {
            editorcontent.sync();
        } catch (err) {
        }


        $(".js-ajax-close-btn").on('click', function(e) {
            e.preventDefault();
            Wind.use("artDialog", function() {
                art.dialog({
                    id : "question",
                    icon : "question",
                    fixed : true,
                    lock : true,
                    background : "#CCCCCC",
                    opacity : 0,
                    content : "您确定需要关闭当前页面嘛？",
                    ok : function() {
                        setCookie("refersh_time", 1);
                        window.close();
                        return true;
                    }
                });
            });
        });
        /////---------------------
        Wind.use('validate', 'ajaxForm', 'artDialog', function() {
            //javascript

            //增加编辑器验证规则
            jQuery.validator.addMethod('editorcontent', function() {
                try {
                    editorcontent.sync();
                } catch (err) {
                }
                return editorcontent.hasContents();
            });
            var form = $('form.js-ajax-forms');
            //ie处理placeholder提交问题
            if ($.browser && $.browser.msie) {
                form.find('[placeholder]').each(function() {
                    var input = $(this);
                    if (input.val() == input.attr('placeholder')) {
                        input.val('');
                    }
                });
            }

            var formloading = false;
            //表单验证开始
            form.validate({
                //是否在获取焦点时验证
                onfocusout : false,
                //是否在敲击键盘时验证
                onkeyup : false,
                //当鼠标掉级时验证
                onclick : false,
                //验证错误
                showErrors : function(errorMap, errorArr) {
                    //errorMap {'name':'错误信息'}
                    //errorArr [{'message':'错误信息',element:({})}]
                    try {
                        $(errorArr[0].element).focus();
                        art.dialog({
                            id : 'error',
                            icon : 'error',
                            lock : true,
                            fixed : true,
                            background : "#CCCCCC",
                            opacity : 0,
                            content : errorArr[0].message,
                            cancelVal : '确定',
                            cancel : function() {
                                $(errorArr[0].element).focus();
                            }
                        });
                    } catch (err) {
                    }
                },
                //验证规则
                /*rules : {
                    'post[post_title]' : {
                        required : 1
                    },
                    'post[post_content]' : {
                        editorcontent : true
                    }
                },
                //验证未通过提示消息
                messages : {
                    'title' : {
                        required : '请输入标题'
                    },
                    'people_num' : {
                        required : '请输入活动人数'
                    },
                    'end_time' : {
                        required : '请输入截止时间'
                    },
                    'money' : {
                        required : '请输入报名费'
                    },
                    'content' : {
                        required : '请输入详情说明'
                    }
                },*/
                //给未通过验证的元素加效果,闪烁等
                highlight : false,
                //是否在获取焦点时验证
                onfocusout : false,
                //验证通过，提交表单
                submitHandler : function(forms) {
                    if (formloading)
                        return;
                    $(forms).ajaxSubmit({
                        url : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
                        dataType : 'json',
                        beforeSubmit : function(arr, $form, options) {
                            formloading = true;
                        },
                        success : function(data, statusText, xhr, $form) {
                            formloading = false;
                            if (data.status) {
                                setCookie("refersh_time", 1);
                                //添加成功
                                Wind.use("artDialog", function() {
                                    art.dialog({
                                        id : "succeed",
                                        icon : "succeed",
                                        fixed : true,
                                        lock : true,
                                        background : "#CCCCCC",
                                        opacity : 0,
                                        content : data.info,
                                        button : [ {
                                            name : '继续添加？',
                                            callback : function() {
                                                reloadPage(window);
                                                return true;
                                            },
                                            focus : true
                                        }, {
                                            name : '返回列表页',
                                            callback : function() {
                                                location = "{:U('Activity/index')}";
                                                return true;
                                            }
                                        } ]
                                    });
                                });
                            } else {
                                artdialog_alert(data.info);
                            }
                        }
                    });
                }
            });
        });
        ////-------------------------
    });
</script>



</body>
</html>