<!DOCTYPE html>
<html>
<head>
  <title>游记管理</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

  <!-- libraries -->
  <link href="__PUBLIC__/Shopadmin/css/lib/uniform.default.css" type="text/css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/lib/select2.css" type="text/css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet">
  <link href="__PUBLIC__/Shopadmin/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>

  <!-- global styles -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/layout.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/elements.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/icons.css">

  <!-- this page specific styles -->
  <link rel="stylesheet" href="__PUBLIC__/Shopadmin/css/compiled/form-showcase.css" type="text/css" media="screen"/>

  <!-- open sans font -->
  <link
    href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<include file="common/menu" />


<!-- main container -->
<div class="content">

  <div id="pad-wrapper" class="form-page">
    <div class="row header">
      <div class="col-md-12">
        <h3>游记管理</h3>
      </div>
    </div>
    <div class="row" style="padding: 10px; border: 1px solid #ccc;  margin-bottom: 10px;background-color: #F5FAFD;">
      <form class="form-inline" method="post" action="{:U('Travels/index')}">
        <div class="form-group mar_r5">
          <label>关键字：</label>
          <input type="text" name="keyword" class="form-control"  style="width: 200px;" placeholder="请输入标题" value="{$keyword}" >
        </div>
        <button class="btn btn-primary mar_r5" type="submit">查询</button>
        <a class="btn btn-danger" href="{:U('Travels/index')}">清空</a>
      </form>
    </div>
    <div class="table-wrapper products-table section">
      <div class="row">
        <table class="table table-hover" id="activitytable">
          <thead>
          <tr>
            <th>ID</th>
            <th>
              <span class="line"></span>标题
            </th>
            <th>
              <span class="line"></span>作者
            </th>
            <th>
              <span class="line"></span>封面图
            </th>
            <th>
              <span class="line"></span>发布日期
            </th>
            <th>
              <span class="line"></span>游玩天数
            </th>
            <th>
              <span class="line"></span>游玩月份
            </th>
            <th>
              <span class="line"></span>人均消费
            </th>
            <th>
              <span class="line"></span>玩伴
            </th>
            <th>
              <span class="line"></span>浏览数
            </th>
            <th>
              <span class="line"></span>评论数
            </th>
            <th>
              <span class="line"></span>点赞数
            </th>
            <th>
              <span class="line"></span>状态
            </th>
            <th>
              <span class="line"></span>操作
            </th>
          </tr>
          </thead>
          <tbody>
          <!-- row -->
          <foreach name="list" key="k" item="vo">
            <tr>
              <td align="center">{$vo.id}</td>
              <td align="left"><if condition="strlen($vo['title']) gt 20">{:mb_substr($vo['title'], 0, 20).'...'}<else/>{$vo['title']}</if></td>
              <td align="center">{$vo['author']}</td>
              <td align="center"><img style="width: 60px;height: 40px;" src="/{$vo.img_url}" ></td>
              <!--<td>{$vo.add_date}</td>-->
              <td>{:date('m-d', strtotime($vo['add_date']))}</td>
              <td>{$vo.travel_days}天</td>
              <td>{$vo.travel_month}</td>
              <td>{$vo.price}</td>
              <td>{$vo.person}</td>
              <td>{$vo.viewnum}</td>
              <td>{$vo.commentnum}</td>
              <td>{$vo.zannum}</td>
              <td>
                <if condition="$vo['status'] eq 1">已发布
                  <elseif condition="$vo['status'] eq 2"/>等待发布
                  <elseif condition="$vo['status'] eq -1"/>强制关闭
                </if>
              </td>
              <td align="center">
                <a href="{:U('Travels/comment',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn">查看评论</a> |
                <a class="js-ajax-dialog-btn" href="{:U('Travels/edit',['id'=>$vo['id']])}" >编辑</a> |
                <a class="js-ajax-dialog-btn del" href="javascript:;" data-id="{$vo.id}">删除</a>
              </td>
            </tr>
          </foreach>
          </tbody>
        </table>
        <div class="pagination">{$page}</div>
      </div>
    </div>
  </div>
</div>
<!-- end main container -->

<!-- scripts for this page -->
<script src="__PUBLIC__/Shopadmin/js/wysihtml5-0.3.0.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="__PUBLIC__/Shopadmin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/jquery.uniform.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/theme.js"></script>
<!--laryer-->
<script src="__PUBLIC__/Shopadmin/layer/layer.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<script>
    $(".status1").click(function () {
        var id = $(this).attr('data-id');
        layer.confirm('您确定要禁用这条记录?', {icon: 3, title:'提示'}, function(index){

            $.post("__CONTROLLER__/ban",
                {'id':id, 'status':2},
                function(json){
                    var data = JSON.parse(json);
                    if (data.code==1){
                        window.location.reload();
                    }else{
                        layer.alert(data.msg);
                    }
                },"text");
            layer.close(index);
        });
    })

    $(".status2").click(function () {
        var id = $(this).attr('data-id');
        layer.confirm('您确定要启用这条记录?', {icon: 3, title:'提示'}, function(index){

            $.post("__CONTROLLER__/ban",
                {'id':id, 'status':1},
                function(json){
                    var data = JSON.parse(json);
                    if (data.code==1){
                        window.location.reload();
                    }else{
                        layer.alert(data.msg);
                    }
                },"text");
            layer.close(index);
        });
    })

    $(".del").click(function () {
        var id = $(this).attr('data-id');
        layer.confirm('您确定要删除这条记录?', {icon: 3, title:'提示'}, function(index){

            $.post("__CONTROLLER__/del",
                {'id':id},
                function(json){
                    var data = JSON.parse(json);
                    if (data.code==1){
                        window.location.reload();
                    }else{
                        layer.alert(data.msg);
                    }
                },"text");
            layer.close(index);
        });
    })
</script>


</body>
</html>