<!DOCTYPE html>
<html>
<head>
    <title>分享设置</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- libraries -->
    <link href="__PUBLIC__/Shopadmin/css/lib/uniform.default.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/lib/select2.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Shopadmin/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Shopadmin/css/compiled/icons.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="__PUBLIC__/Shopadmin/css/compiled/form-showcase.css" type="text/css" media="screen"/>

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/html" id="photos-item-wrapper">
        <li id="savedimage{id}">
            <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
            <input id="photo-{id}-name" type="text" name="photos_alt[]" value="{name}" style="width: 160px;" title="图片名称">
            <img id="photo-{id}-preview" src="{url}" onclick="parent.image_preview_dialog(this.src);">
            <a href="javascript:upload_one_image('图片上传','#photo-{id}');">替换</a>
            <a href="javascript:(function(){$('#savedimage{id}').remove();})();">移除</a>
        </li>
    </script>
    <link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.2&key=aaeb9bb85528fb6aa40ffbcdefa5de32&plugin=AMap.Autocomplete"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript">
        //全局变量
        var GV = {
            ROOT: "__ROOT__/",
            WEB_ROOT: "__WEB_ROOT__/",
            JS_ROOT: "public/js/",
            APP:'{$Think.MODULE_NAME}'/*当前应用名*/
        };
    </script>
    <script src="__PUBLIC__/js/wind.js"></script>

    <style>
        .form-control {
            width: 60%;
            display: inline-table;
        }
        .label_att span {
            text-align: right;
            padding-top: 10px;
            font-size: 14px;
        }
    </style>

</head>
<body>

<include file="common/menu" />


<!-- main container -->
<div class="content">

    <div id="pad-wrapper" class="form-page">
        <div class="row header">
            <div class="col-md-12">
                <h3>分享设置</h3>
            </div>
        </div>
        <form method="post" class="form-horizontal js-ajax-form" action="{:U('Share/Setting')}">
            <div class="control-group">
                <div class="controls">
                    <b>{$data['s_type']==1?'课程':($data['s_type']==2?'活动':'')}标题：{$ob_title}</b>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span style="color: red;">*</span>图片</label>
                <div class="controls">
                    <table class="table table-bordered" style="width: 320px;">
                        <tr>
                            <td>
                                <div style="text-align: center; padding-top: 10px;">
                                    <input type="hidden" name="image_path" id="img1" value="{$re.image_path}" >
                                    <if condition="!empty($re['image_path'])">
                                        <a href="javascript:upload_one_image('图片上传','#img1',null,'Managed');">
                                            <img src="/{$re.image_path}" id="img1-preview" style="width: 315px;height: 195px;"/>
                                        </a>
                                        <else/>
                                        <a href="javascript:upload_one_image('图片上传','#img1',null,'Managed');">
                                            <img src="/admin/themes/simplebootx/Public/assets/images/default-thumbnail.png" id="img1-preview" style="width: 315px;height: 195px;"/>
                                        </a>
                                    </if>
                                    <br><br>
                                    <input type="button" class="btn btn-small"
                                           onclick="$('#img1-preview').attr('src','/admin/themes/simplebootx/Public/assets/images/default-thumbnail.png');$('#img1').val('');return false;" value="取消图片">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!--<th>建议图片宽高为1050*650，大小不要超过200K</th>-->
                        </tr>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span style="color: red;">*</span>标题：</label>
                <div class="controls">
                    <input type="text" name="title" class="form-control" value="{$re.title}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span style="color: red;">*</span>描述：</label>
                <div class="controls">
                    <textarea name="description" style='resize:none;width: 60%;height: 300px;'>{$re.description}</textarea>
                </div>
            </div>
            <div class="form-actions" style="margin-top: 20px;">
                <input type="hidden" name="id" value="{$re.id}"/>
                <input type="hidden" name="object_id" value="{$data.object_id}"/>
                <input type="hidden" name="type" value="{$data.s_type}"/>
                <input type="hidden" name="form_request" value='{$form_request}'/>
                <button type="submit" class="btn btn-primary mar_r5 js-ajax-submit">保存</button>
            </div>
        </form>
    </div>
</div>
<!-- end main container -->
<style>
    .brod{
        display: inline-block;
        float: left;
        margin-right: 20px;
    }
    .radio{
        width: 18px;
        height: 18px;
        float: left;
    }
    .btn-small{
        width: 120px;
    }

</style>
<!-- scripts for this page -->
<script src="__PUBLIC__/Shopadmin/js/wysihtml5-0.3.0.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="__PUBLIC__/Shopadmin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/jquery.uniform.min.js"></script>
<script src="__PUBLIC__/Shopadmin/js/theme.js"></script>
<!--laydate-->
<script src="__PUBLIC__/Shopadmin/laydate/laydate.js"></script>
<!--laryer-->
<script src="__PUBLIC__/Shopadmin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;

</script>
</body>
</html>