<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>我的分享</title>
  <script src="../js/ku/common_nojq.js"></script>
  <!-- title根据ajax获取的参数决定-->
  <link rel="stylesheet" href="../css/ku/hui.css">
  <link rel="stylesheet" href="../css/ku/weui.min.css">
  <link rel="stylesheet" href="../css/ku/jquery-weui.min.css">
  <link rel="stylesheet" href="../css/ku/style.css">
  <script src="../js/ku/hui.js"></script>
  <script src="../js/ku/vue.min.js"></script>
  <script src="../js/ku/jquery-1.12.4.min.js"></script>
  <script src="../js/ku/jquery-weui.js"></script>
  <script src="../js/ku/swiper_jqueryweui.js"></script>
</head>
<body>

<div id="app" v-cloak>

  <div class="content_box">
    <div class="content_scroll bgcolorfff">

      <div>
        <img src="../img/shareqinzi/sharetitbg.png" class="block" alt="">
      </div>

      <div style="width: 72%;margin:25px auto 0 auto;">
        <div>
          <div class="inblock mar_r10" style="width: 35px;height: 35px">
            <img :src="path_img+shuju.img" alt="" style="width: 35px;height: 35px;" class="border_radius50">
          </div>
          <span class="font13 color333">{{shuju.uname}}</span>
        </div>
        <!-- 文字-->
        <div class="font13 color333 mar_t10 pad_t5">{{shuju.content}}</div>
      </div>

      <!--图片-->
      <div style="width: 72%;margin:0 auto;" v-if="shuju.c_type==2">
        <div class="pad10">
          <div class="clear">
            <!-- 最多9个图-->
            <div class="L col-xs-4" style="margin-bottom: 4px" v-for="(el,i) in shuju.img_list">
              <div style="padding: 0 2px">
                <div class="imgp padb100per" @click="itemclick(i)">
                  <img :src="path_img+el" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 视频-->
      <div style="width: 72%;margin:10px auto;" class="rela videoshare" v-if="shuju.c_type==3">
        <!-- 灰层-->
        <div class="abso huiceng"></div>
        <!-- 播放按钮-->
        <img src="../img/twoqi/playbtn.png" class="abso playbtn" onclick="boshipin()" alt="">
        <!-- 海报-->
        <div class="imgp" style="padding-bottom: 56%">
          <div class="poster" v-if="shuju.video_cover && shuju.video_cover.indexOf('http')==-1" :style="{'background-image':'url('+path_img+shuju.video_cover+')'}"></div>
          <div class="poster" v-if="shuju.video_cover && shuju.video_cover.indexOf('http')!=-1" :style="{'background-image':'url('+shuju.video_cover+')'}"></div>
        </div>
        <!-- 视频-->
        <video :src="shuju.video_url" style="display: none" class="w100"></video>
      </div>

      <div class="font13 color333 txt_center">
        <a href="javascript:;" id="download">去<span v-if="shuju.option==1">亲子圈</span><span v-if="shuju.option==2">教学圈</span>，浏览更多精彩分享 &gt;</a>
      </div>

      <div style="width: 88%;margin:20px auto 0 auto" class="pad_b20">
        <div class="clear">
          <div class="L col-xs-6">
            <div class="pad_l10 pad_r10">
              <div class="txt_center">
                <div class="inblock" style="width: 80%">
                  <div class="imgp padb100per" onclick="imginit(0)">
                    <img src="../img/alpha.png" id="iosimg" alt="">
                  </div>
                </div>
              </div>
              <div class="txt_center mar_t10">
                <a class="inblock font13 colorzt border_allzt border_radiu20 pad_t5 pad_b5 w100" id="ioslink" href="#">
                  <img src="../img/shareqinzi/share_ios.png" alt="" style="width: 15px;height: 17px" class="mar_r5">
                  <span class="inblock">IOS 客户端下载</span>
                </a>
              </div>
            </div>
          </div>
          <div class="L col-xs-6">
            <div class="pad_l10 pad_r10">
              <div class="txt_center">
                <div class="inblock" style="width: 80%">
                  <div class="imgp padb100per" onclick="imginit(1)">
                    <img src="../img/alpha.png" id="adrimg" alt="">
                  </div>
                </div>
              </div>
              <div class="txt_center mar_t10">
                <a class="inblock font13 colorzt border_allzt border_radiu20 pad_t5 pad_b5 w100" id="adrlink" href="#">
                  <img src="../img/shareqinzi/share_adr.png" alt="" style="width: 15px;height: 17px" class="mar_r5">
                  <span class="inblock">Andriod 客户端</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="txt_center color999 font12 pad_b10 mar_t20">请点击二维码放大后识别</div>
      </div>

    </div>
  </div>

</div>

<script>
  pre_loading(0);

  var cid;//亲子圈/教学圈id
  if(!Getvariable('pid')){
    $.toast('少pid','text');
  }else{
    cid=Getvariable('pid');
    vueinit();
  }

  var vm;
  function vueinit(){
    vm = new Vue({
      el: '#app',
      data: {
        path_img:path_img,
        shuju:{}
      },
      methods:{
        itemclick:function(index){
          pb1.open(index);
        }
      },
      created:function(){
        var that=this;
        $.ajax({
          url:path_inter+"parents/Share/Circle",
          dataType:'json',
          type:'post',
          data:{
            cid:cid
          },
          success:function(res){
            if(user_overdue(res.code,res.msg)){
              if(res.data.img_list.length>9){
                res.data.img_list.length=9;//最多9张图
              }
              if(res.data.option==1){
                document.title='我的分享-亲子圈';
              }else if(res.data.option==2){
                document.title='我的分享-教学圈';
              }
              vm.shuju=res.data;
              pre_loading(100);

              that.$nextTick(function () {
                pagedo();
              });
            }
          },
          error:function(){
            pre_loading(1);
          }
        });
      }
    });
  }

  function boshipin(){
    //播放视频
    $('video')[0].play();
  }
  var pb1;
  function pagedo(){
    //图片预览
    var arr=[];
    for(var i=0;i<vm.shuju.img_list.length;i++){
      arr[i]=path_img+vm.shuju.img_list[i];
    }
    pb1 = $.photoBrowser({
      items:arr
    });

    //确定下载链接
    if(/android/i.test(navigator.userAgent)){
      //安卓
      $('#download').attr('href',familylink_adr);
    }
    if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){
      //苹果
      $('#download').attr('href',familylink_ios);
    }

    $('#ioslink').attr('href',familylink_ios);
    $('#adrlink').attr('href',familylink_adr);
    $('#iosimg').attr('src',familyma_ios);
    $('#adrimg').attr('src',familyma_adr);
  }


  function imginit(index){
    var pbma = $.photoBrowser({
      items: [
        $('#iosimg').attr('src'),
        $('#adrimg').attr('src')
      ],
      initIndex:index
    });
    pbma.open();
  }
</script>

</body>
</html>